* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario&display=swap');

/* CSS variabler */
:root {
    --headline: 'Poppins', sans-serif;
    --main-text: 'Rosario', sans-serif;
    --header-footer: #333333;
    --white: #fff;
    --brown: #a39571;
    --beige: #e3e1da;
}

/* Styling af header start */
.mobile {
    position: fixed;
    padding: 8px;
    background-color: var(--header-footer);
    width: 100%;
    height: 75px;
    z-index: 999;
}

.screen {
    display: none;
}

/* Logo */
.logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 4px;
}

/* Basic nav syles */
.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--header-footer);
    opacity: 0;
    transition: all 0.2s ease;
}

.nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}

/* Effekt på menulinks */
.nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
}

.nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
}

.nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
}

.nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
}

/* Styling af menutext */
.nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    outline: none;
    color: var(--white);
    font-family: var(--headline);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-20px);
    transition: all 0.2s ease;
}

/* Hamburger menu */
.nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
}

.nav-btn i {
    display: block;
    width: 30px;
    height: 2px;
    background: var(--white);
    border-radius: 2px;
    margin-left: 8px;
}

.nav-btn i:nth-child(1) {
    margin-top: 18px;
}

.nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
}

.nav-btn i:nth-child(3) {
    margin-top: 4px;
}

/* Animation af hamburger menu */
#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked + .nav-btn i {
    background: var(--white);
    transition: transform 0.2s ease;
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

/* @media-rules tablet */
@media only screen and (min-width:768px) {
    /* Styling af menutext */
    .nav-wrapper ul li a {
        font-size: 24px;
    }
    
    /* Hamburger menu */
    .nav-btn i {
        width: 35px;
    }
    
    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-btn i:nth-child(2) {
        margin-top: 5px;
    }

    .nav-btn i:nth-child(3) {
        margin-top: 5px;
    }
}

/* @media-rules laptop */
@media only screen and (min-width:950px) {
    .mobile {
        display: none;
    }
    
    /* Standard styles for nav */
    .screen {
        display: block;
        position: fixed;
        padding: 8px;
        background-color: var(--header-footer);
        width: 100%;
        height: 75px;
        z-index: 999;
    }
    
    /* Styling af menulinks */
    nav ul {
        float: right;
    }
    
    nav ul li {
        display: inline-block;
        margin-top: 15px;
    }
    
    nav ul li:not(:first-child) {
        margin-left: 48px;
    }
    
    nav ul li:last-child {
        margin-right: 44px;
    }
    
    nav ul li a {
        outline: none;
        color: var(--white);
        text-transform: uppercase;
        text-decoration: none;
        font-family: var(--headline);
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1.5px;
    }
}

/* @media-rules large desktops */ 
@media only screen and (min-width:1900px) {
    .screen {
        height: 100px;
    }
    
    nav ul li {
        margin-top: 20px;
    }
    
    nav ul li a {
        font-size: 32px;
    }
    
    .logo {
        margin-top: 15px;
        margin-left: 20px;
    }
}

/* Styling af header slut */

main {
    flex: 1 0 auto;
}

/* Styling af footer start */
footer {
    background: var(--header-footer);
    color: var(--white);
    width: 100%;
    flex-shrink: 0;
}

/* Styling af footer text */
ul {
    list-style: none;
    padding-left: 0;
}

footer a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--main-text);
    font-size: 16px;
    line-height: 1.5;
}

a:hover {
    text-decoration: underline;
}

p {
   font-family: var(--main-text);
    font-size: 16px;
    line-height: 1.5; 
}

.title {
    font-family: var(--headline);
    font-family: 16px;
    padding-bottom: 4px;
    padding-top: 8px;
}

.main-item {
    padding: 0 1.5rem 0.5rem;
}

/* SoMe ikoner */
.social {
    padding: 0 1.8rem 1.25rem;
}

.social-list {
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
}

.social-list img {
    width: 45px;
}

.social-list li {
    margin: 0.5rem;
}

/* Nyhedsbrev */
form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

input[type="email"] {
    font-family: var(--main-text);
    font-size: 14px;
    border: 0;
    padding: 0.6rem;
    margin-top: 0.3rem;
}

input[type="submit"] {
    background-color: var(--brown);
    color: var(--white);
    font-family: var(--headline);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    padding: 0.6rem 0.9rem;
    margin-top: 0.3rem;
}

/* Terms, Copyright */
.terms {
    font-family: var(--main-text);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.terms-list {
    width: 100%;
}

/* @media-rules tablet */
@media only screen and (min-width:768px) {
    /* Opdele footer i kolonner */
    .main {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
    }
    
    .main-item {
        width: 50%;
    }
    
    /* Styling af footer text */ 
    .title {
        font-size: 24px;
    }
    
    footer a {
        font-size: 18px;
    }
    
    p {
        font-size: 18px;
    }
    
    .main-item {
    padding: 0 2.2rem;
    margin-top: 20px;
    }
    
    /* Nyhedsbrev */
    input[type="email"] {
       padding: 1rem;
        font-size: 16px;
    }
    
    input[type="submit"] {
        font-size: 18px;
    }
    
    /* SoMe ikoner */
    .social-list img {
    width: 55px;
    }
    
    .social-list li {
    margin: 0.9rem;
    }
    
    /* Terms, Copyright */
    .terms {
        font-size: 18px;
    }
}

/* @media-rules laptop */
@media only screen and (min-width:950px) {
    .main {
        padding: 0 1.5rem;
    }
    
    .main-item {
        width: 30%;
    }
    
    /* Styling af text */
    .title {
        font-size: 30px;
    }
    
    footer a {
        font-size: 24px;
    }
    
    p {
        font-size: 22px;
    }
    
    /* Nyhedsbrev */
    input[type="email"] {
       padding: 1.5rem 3rem;
        font-size: 20px;
    }
    
    input[type="submit"] {
        font-size: 24px;
    }
    
    /* SoMe ikoner */
    .social-list img {
    width: 70px;
    }
    
    .social-list li {
    margin: 1.5rem;
    }
    
    /* Terms, Copyright */
    .terms {
        font-size: 24px;
    }
}

/* @media-rules large desktops */ 
@media only screen and (min-width:1900px) {
    .main-item {
        width: 25%;
        padding: 20px;
    }
    
    
    /* Styling af text */
    .title {
        font-size: 32px;
    }
    
    p {
        font-size: 28px;
    }
    
    footer a {
        font-size: 30px;
    }
    
    input[type="email"] {
       padding: 0.3rem 1.5rem;
        font-size: 28px;
    }
    
    input[type="submit"] {
        font-size: 30px;
    }
}
/* Styling af footer slut */
